.pic {
  width: 15rem;
  border-radius: 8px;
}

.imageWrapper {
  margin-bottom: 24px;
  p {
    margin: 0;
  }
}

.rowWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  ul {
    all: unset;
    display: flex;
    flex-direction: column;
  }

  li {
    all: unset;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
}

.rowWrapper:first-child {
  text-align: center;
}
