.tabsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.tabsList {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trigger {
  color: white;
  max-width: 7.54rem;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
