.tabsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabsList {
  background-color: rgb(31, 31, 31);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 8px;
}

.trigger {
  all: unset;
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(31, 31, 31);
  &:first-child {
    border-top-left-radius: 8px;
  }
  &:last-child {
    border-top-right-radius: 8px;
  }
}

.trigger[data-state="active"] {
  border-bottom: 3px solid rgb(190, 52, 249);
}
