.contentLayout {
  background-color: rgb(252, 252, 252);
  border-radius: 4px;
  padding: 16px;
  color: black;
  height: fit-content;
  box-sizing: border-box;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
