.contentLayout {
  width: 90vw;
  border-radius: 8px;
  padding: 16px;
  color: black;
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.edgesTop {
  border-radius: 0 0 8px 8px;
}
