.header {
  height: 8rem;
  width: 100%;
  background-image: url("src/Components/Header/assets/theme.png");
  border-radius: 8px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 3rem;
  }
}
