@use 'tools.respond-to';

@mixin content-padding {
  padding: 80px 200px;
  position: relative;

  @include tools.respond-to('max-l') {
    padding: 2rem;
  }

  @include tools.respond-to('max-m') {
    padding: 1rem;
  }
}

@mixin side-paddings {
  padding-top: 32px;
  width: min(1216px, 95%);
  margin: 0 auto;
}
