@use 'tools.to-rem';

@mixin header-medium {
  font-size: to-rem(20);
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

@mixin subheader-basic {
  font-size: tools.to-rem(24);
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

@mixin text-semi-bold($size, $line-height) {
  font-size: $size;
  font-style: normal;
  font-weight: 500;
  line-height: $line-height;
}

@mixin display-lg-bold {
  font-size: tools.to-rem(48);
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

@mixin display-lg-semibold {
  font-size: tools.to-rem(48);
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

@mixin display-lg-medium {
  font-size: tools.to-rem(48);
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}

@mixin display-lg-regular {
  font-size: tools.to-rem(48);
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

@mixin display-md-bold {
  font-size: tools.to-rem(36);
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

@mixin display-md-semibold {
  font-size: tools.to-rem(36);
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

@mixin display-md-medium {
  font-size: tools.to-rem(36);
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

@mixin display-md-regular {
  font-size: tools.to-rem(36);
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

@mixin display-sm-semibold {
  font-size: tools.to-rem(30);
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

@mixin display-xs-bold {
  font-size: tools.to-rem(24);
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@mixin display-xs-semibold {
  font-size: tools.to-rem(24);
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

@mixin display-xs-medium {
  font-size: tools.to-rem(24);
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

@mixin display-xs-regular {
  font-size: tools.to-rem(24);
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@mixin text-xl-bold {
  font-size: tools.to-rem(20);
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin text-xl-semibold {
  font-size: tools.to-rem(20);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

@mixin text-xl-medium {
  font-size: tools.to-rem(20);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@mixin text-xl-regular {
  font-size: tools.to-rem(20);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin text-lg-bold {
  font-size: tools.to-rem(18);
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin text-lg-semibold {
  font-size: tools.to-rem(18);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

@mixin text-lg-medium {
  font-size: tools.to-rem(18);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@mixin text-lg-regular {
  font-size: tools.to-rem(18);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin text-md-bold {
  font-size: tools.to-rem(16);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@mixin text-md-semibold {
  font-size: tools.to-rem(16);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

@mixin text-md-medium {
  font-size: tools.to-rem(16);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@mixin text-md-regular {
  font-size: tools.to-rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin text-sm-bold {
  font-size: tools.to-rem(14);
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@mixin text-sm-semibold {
  font-size: tools.to-rem(14);
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

@mixin text-sm-medium {
  font-size: tools.to-rem(14);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin text-sm-regular {
  font-size: tools.to-rem(14);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
